.welcome {
	max-width: 750px;
	margin: auto;
	border-color: black;
	font-family: 'Baloo Tammudu 2', cursive;
	font-size: 300;
	padding-right: 1rem;
	text-align: center;
	li {
		font-family: 'Baloo Tammudu 2', cursive;
		font-size: 300;
		border-color: black;
	}
}
